'.liquid':
  'Liquid item.product':
    'prefix': 'itemproduct'
    'body': '{{ item.product }}'

  'Liquid item.sale_price':
    'prefix': 'itempsale_price'
    'body': '{{ item.sale_price }}'

  'Liquid item.title':
    'prefix': 'itemptitle'
    'body': '{{ item.title }}'

  'Liquid item.total_price':
    'prefix': 'itemptotal_price'
    'body': '{{ item.total_price }}'

  'Liquid item.quantity':
    'prefix': 'itemquantity'
    'body': '{{ item.quantity }}'
