'.liquid':
  'Liquid link asset (local)':
    'prefix': 'linkassu'
    'body': """
    <link href="{{ '${1}' | asset_url }}" rel="stylesheet" type="text/css" />
    """

  'Liquid script asset (local)':
    'prefix': 'scriptassu'
    'body': """
    <script src="{{ '${1}' | asset_url }}"></script>
    """

  'Liquid img asset (local)':
    'prefix': 'imgass'
    'body': """
    <img src="{{ '${1}' | asset_url }}" alt="${2}">
    """

  'Fixes IE':
    'prefix': 'fixesie'
    'body': """
    <!-- fixes -->
    <!--[if IE]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    """
