'.liquid':
  'Liquid content_for_layout':
    'prefix': 'contentfl'
    'body': '{{ content_for_layout }}'

  'Liquid product.id':
    'prefix': 'prodid'
    'body': '{{ product.id }}'

  'Liquid product.title':
    'prefix': 'prodtitle'
    'body': '{{ product.title }}'

  'Liquid product.handle':
    'prefix': 'prodhandle'
    'body': '{{ product.handle }}'

  'Liquid product.price':
    'prefix': 'prodprice'
    'body': '{{ product.price }}'

  'Liquid product.price_min':
    'prefix': 'prodpricemin'
    'body': '{{ product.price_min }}'

  'Liquid product.price_max':
    'prefix': 'prodpricemax'
    'body': '{{ product.price_max }}'

  'Liquid product.price_varies':
    'prefix': 'productpv'
    'body': '{{ product.price_varies? }}'

  'Liquid product.url':
    'prefix': 'produrl'
    'body': '{{ product.url }}'

  'Liquid product.images':
    'prefix': 'prodimages'
    'body': '{{ product.images }}'

  'Liquid product.description':
    'prefix': 'proddesc'
    'body': '{{ product.description }}'

  'Liquid product.short_description':
    'prefix': 'prodshortdesc'
    'body': '{{ product.short_description }}'

  'Liquid product.variants':
    'prefix': 'prodvar'
    'body': '{{ product.variants }}'

  'Liquid product.available':
    'prefix': 'prodavail'
    'body': '{{ product.available }}'

  'Liquid product.collections':
    'prefix': 'prodcols'
    'body': '{{ product.collections }}'

  'Liquid product.options':
    'prefix': 'prodopts'
    'body': '{{ product.options }}'

  'Liquid collection.id':
    'prefix': 'colid'
    'body': '{{ collection.id }}'

  'Liquid collection.title':
    'prefix': 'coltitle'
    'body': '{{ collection.title }}'

  'Liquid collection.handle':
    'prefix': 'colhandle'
    'body': '{{ collection.handle }}'

  'Liquid collection.description':
    'prefix': 'coldesc'
    'body': '{{ collection.description }}'

  'Liquid collection.products':
    'prefix': 'colprods'
    'body': '{{ collection.products }}'

  'Liquid collection.products_count':
    'prefix': 'colprodscount'
    'body': '{{ collection.products_count }}'

  'Liquid collection.url':
    'prefix': 'colurl'
    'body': '{{ collection.url }}'

  'Liquid page.title':
    'prefix': 'paget'
    'body': '{{ page.title }}'

  'Liquid page.content':
    'prefix': 'pagec'
    'body': '{{ page.content }}'

  'Liquid article.title':
    'prefix': 'articlet'
    'body': '{{ article.title }}'

  'Liquid article.content':
    'prefix': 'articlec'
    'body': '{{ article.content }}'

  'Liquid comment.created_at':
    'prefix': 'commentcreated'
    'body': '{{ comment.created_at | date: "%d.%m.%Y" }}'

  'Liquid account.title':
    'prefix': 'accounttitle'
    'body': '{{ account.title | editable }}'

  'Liquid account.phone':
    'prefix': 'accountphone'
    'body': '{{ account.phone | editable }}'

  'Liquid account.email':
    'prefix': 'accountemail'
    'body': '{{ account.email | editable }}'
