'.liquid':
  'Liquid date now year':
    'prefix': 'datenowy'
    'body': "{{ 'now' | date: '%Y' }}"

  'Liquid asset (local)':
    'prefix': 'assu'
    'body': """
    {{ '${1}' | asset_url }}
    """

  'Liquid link asset (local)':
    'prefix': 'linkassu'
    'body': """
    <link href="{{ '${1}' | asset_url }}" rel="stylesheet" type="text/css" />
    """

  'Liquid script asset (local)':
    'prefix': 'scriptassu'
    'body': """
    <script src="{{ '${1}' | asset_url }}"></script>
    """

  'Liquid img asset (local)':
    'prefix': 'imgass'
    'body': """
    <img src="{{ '${1}' | asset_url }}" alt="${2}">
    """

  'Liquid replace':
    'prefix': 'repl'
    'body': " | replace: '${1:substring}', '${2:replacement}'"

  'CDN font awesome':
    'prefix': 'cdnfa'
    'body': """
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    """

  'CDN jQuery':
    'prefix': 'cdnjq'
    'body': """
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    """

  'CDN migrate':
    'prefix': 'cdnjqmigrate'
    'body': """
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js"></script>
    """

  'Common js search':
    'prefix': 'search'
    'body': """
    <form action="/search" method="get">
      <input type="hidden" name="lang" value="{{ language.locale }}">
      <input type="text" name="q" value="" placeholder="Поиск" data-search-field />
      <button type="submit">Поиск</button>
      <div data-search-result></div>
    </form>
    """

  'Common js product':
    'prefix': 'prodform'
    'body': """
    <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
      {% if product.show_variants? %}
        <select name="variant_id" data-product-variants>
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
          {% endfor %}
        </select>
      {% else %}
        <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
      {% endif %}
      <input type="text" name="comment" value="">
      <div data-quantity>
        <input type="text" name="quantity" value="1" />
        <span data-quantity-change="-1">-</span>
        <span data-quantity-change="1">+</span>
      </div>
      <button type="submit" data-item-add>
        Добавить в корзину
      </button>
    </form>
    """

  'Liquid paginate by':
    'prefix': 'pagby'
    'body': """
    {% paginate ${1} by ${2} %}
      ${3}
    {% endpaginate %}
    """

  'Liquid for product in collection.products':
    'prefix': 'forprodincp'
    'body': """
    {% for product in collection.products %}
      ${1}
    {% endfor %}
    """

  'Liquid for block in block_lists.handle.blocks':
    'prefix': 'forblockin'
    'body': """
    {% for block in block_lists.handle${1}.blocks %}
      ${2}
    {% endfor %}
    """

  'Liquid for link in linklists.handle.links':
    'prefix': 'forlink'
    'body': """
    <ul class="${2}">
    {% for link in linklists.handle${1}.links %}
      <li class="${3}{% if link.current? %}is-active{% endif %}" >
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
    """

  'Liquid If Collection Products Size':
    'prefix': 'ifcps'
    'body': """
    {% if collection.products.size > 0 %}
      ${1}
    {% endif %}
    """

  'Liquid form':
    'prefix': 'form'
    'body': """
    {% form '${1}', ${2} %}
      ${3}
    {% endform %}
    """

  'Liquid include with':
    'prefix': 'incwith'
    'body': """
    {% include "${1}" with ${2} %}
    """

  'Liquid include':
    'prefix': 'inc'
    'body': """
    {% include "${1}" %}
    """

  'Liquid capture':
    'prefix': 'cap'
    'body': """
    {% capture ${1} %}
    ${2}
    {% endcapture %}
    """

  'Liquid assign':
    'prefix': 'ass'
    'body': """
    {% assign ${1} = ${2} %}
    """

  'Liquid tablerow':
    'prefix': 'tabrow'
    'body': """
    {% tablerow ${1} %}
      ${2}
    {% endtablerow %}
    """

  'Liquid for':
    'prefix': 'for'
    'body': """
    {% for ${1} %}
      ${2}
    {% endfor %}
    """

  'Liquid cycle':
    'prefix': 'cycle'
    'body': """
    {% cycle '${1}' %}
    """

  'Liquid case':
    'prefix': 'case'
    'body': """
    {% case ${1} %}
      {% when ${2} %}
        ${3}
      {% else %}
        ${4}
    {% endcase %}
    """

  'Liquid unless (inline)':
    'prefix': 'unlin'
    'body': '{% unless ${1} %}${2}{% endunless %}'

  'Liquid unless':
    'prefix': 'unl'
    'body': """
    {% unless ${1} %}
      ${2}
    {% endunless %}
    """

  'Liquid if / elseif':
    'prefix': 'ifelif'
    'body': """
    {% if ${1} %}
      ${2}
    {% elsif ${3} %}
      ${4}
    {% endif %}
    """

  'Liquid if':
    'prefix': 'if'
    'body': """
    {% if ${1} %}
      ${2}
    {% endif %}
    """

  'Liquid raw':
    'prefix': 'raw'
    'body': """
    {% raw %} ${1} {% endraw %}
    """

  'Liquid comment':
    'prefix': 'com'
    'body': """
    {% comment %}
      ${1}
    {% endcomment %}
    """

  'Liquid content_for_layout':
    'prefix': 'contentfl'
    'body': '{{ content_for_layout }}'

  'Liquid product.id':
    'prefix': 'prodid'
    'body': '{{ product.id }}'

  'Liquid product.title':
    'prefix': 'prodtitle'
    'body': '{{ product.title }}'

  'Liquid product.handle':
    'prefix': 'prodhandle'
    'body': '{{ product.handle }}'

  'Liquid product.type':
    'prefix': 'prodtype'
    'body': '{{ product.type }}'

  'Liquid product.vendor':
    'prefix': 'prodvendor'
    'body': '{{ product.vendor }}';

  'Liquid product.price':
    'prefix': 'prodprice'
    'body': '{{ product.price }}'

  'Liquid product.price_min':
    'prefix': 'prodpricemin'
    'body': '{{ product.price_min }}'

  'Liquid product.compare_at_price_min':
    'prefix': 'prodcapmin'
    'body': '{{ product.compare_at_price_min }}'

  'Liquid product.price_max':
    'prefix': 'prodpricemax'
    'body': '{{ product.price_max }}'

  'Liquid product.compare_at_price_max':
    'prefix': 'prodcapmax'
    'body': '{{ product.compare_at_price_max }}'

  'Liquid product.price_varies':
    'prefix': 'productpv'
    'body': '{{ product.price_varies }}'

  'Liquid product.compare_at_price_varies':
    'prefix': 'productcapvar'
    'body': '{{ product.compare_at_price_varies }}'

  'Liquid product.url':
    'prefix': 'produrl'
    'body': '{{ product.url }}'

  'Liquid product.images':
    'prefix': 'prodimages'
    'body': '{{ product.images }}'

  'Liquid product.description':
    'prefix': 'proddesc'
    'body': '{{ product.description }}'

  'Liquid product.variants':
    'prefix': 'prodvar'
    'body': '{{ product.variants }}'

  'Liquid product.available':
    'prefix': 'prodavail'
    'body': '{{ product.available }}'

  'Liquid product.collections':
    'prefix': 'prodcols'
    'body': '{{ product.collections }}'

  'Liquid product.options':
    'prefix': 'prodopts'
    'body': '{{ product.options }}'

  'Liquid collection.id':
    'prefix': 'colid'
    'body': '{{ collection.id }}'

  'Liquid collection.title':
    'prefix': 'coltitle'
    'body': '{{ collection.title }}'

  'Liquid collection.handle':
    'prefix': 'colhandle'
    'body': '{{ collection.handle }}'

  'Liquid collection.description':
    'prefix': 'coldesc'
    'body': '{{ collection.description }}'

  'Liquid collection.products':
    'prefix': 'colprods'
    'body': '{{ collection.products }}'

  'Liquid collection.products_count':
    'prefix': 'colprodscount'
    'body': '{{ collection.products_count }}'

  'Liquid collection.url':
    'prefix': 'colurl'
    'body': '{{ collection.url }}'



  'Liquid meta content':
    'prefix': 'metacontent'
    'body': """
    <title>{{ title }}</title>

    <!-- meta -->
    <meta charset="UTF-8" />
    <meta name="keywords" content='{% if filter %}{{ filter.meta_keywords }}{% else %}{{ keywords }}{% endif %}'/>
    <meta name="description" content='{% if filter %}{{ filter.meta_description }}{% else %}{{ description }}{% endif %}'/>
    <meta name="robots" content="index,follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


    {% case template %}
      {% when 'product' %}
        <meta property="og:title" content="{{ product.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ account.url }}{{ product.url }}" />
        {% if product.first_image.thumb_url contains 'http' %}
          <meta property="og:image" content="{{ product.first_image.compact_url }}" />
        {% else %}
          <meta property="og:image" content="{{ account.url }}{{ product.first_image.compact_url }}" />
        {% endif %}
      {% when 'index' %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ account.url }}" />
        <meta property="og:title" content="{{ account.title }}" />
        {% if settings.logotype_type == 'image' %}
          <meta property="og:image" content="{{ 'logotype.jpg' | asset_url }}" />
        {% endif %}
      {% when 'article' %}
        <meta property="og:title" content="{{ article.title }}" />
        <meta property="og:image" content="{{ article.image.compact_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ article.url }}" />
    {% endcase %}

    <!-- fixes -->
    <!--[if IE]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    """
